body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section {
    display: flex;
}

.top-poster {
    background-image: url(image/donation13.jpg);
    background-repeat: no-repeat;
    height: 669px;
    background-size: cover;
}

/*.top-poster-div {
    color: white;
    position: absolute;
    width: 826px;
    height: 158px;
    left: 307px;
    top: 174px;

}*/

.top-heading {
    color: white;
    position: absolute;
    width: 826px;
    height: 158px;
    left: 307px;
    top: 174px;
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    text-align: center;

}

.top-poster-paragraph {
    color: white;
    position: absolute;
    width: 691px;
    height: 56px;
    left: 375px;
    top: 352px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 50px;

}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(purple, orangered);
    border-radius: 5px;
    text-align: center;




    padding: 16px 12px;

    position: absolute;
    width: 100px;
    height: 30px;
    left: 520px;
    top: 480px;
}

/*.button-link {
    text-decoration: none;
    background-image: linear-gradient(purple, orangered);
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    position: absolute;
    width: 100px;
    height: 30px;
    left: 520px;
    top: 480px;
    text-align: center;
    font-weight: 600;

}*/
.donate-heading {
    position: absolute;
    width: 304px;
    height: 54px;
    left: 500px;
    top: 799px;
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    text-align: center;
    color: black;
}

.donate-reason {
    position: absolute;
    width: 691px;
    height: 56px;
    left: 375px;
    top: 873px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.amount {
    position: absolute;
    width: 135px;
    height: 123px;
    left: 338px;
    top: 979px;
    border: 2px solid;
}

/*.amount {
    position: absolute;
    width: 135px;
    height: 123px;
    left: 338px;
    top: 979px;
    border-radius: 5px;
    display: flex;

    display: flex;
    padding-left: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 3px #9a9797;
}*/