body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section {
    display: flex;
}

/*Top poster and Heading Section */
.top-poster {
    background-image: url(image/donation13.jpg);
    background-repeat: no-repeat;
    height: 669px;
    background-size: cover;
}


.top-heading {
    color: white;
    position: absolute;
    width: 826px;
    height: 158px;
    left: 307px;
    top: 174px;
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    text-align: center;

}

.top-poster-paragraph {
    color: white;
    position: absolute;
    width: 691px;
    height: 56px;
    left: 375px;
    top: 352px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 50px;

}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(purple, orangered);
    border-radius: 5px;
    text-align: center;
    padding: 10px 12px;
    color: white;
    position: relative;

}

.button-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    margin-left: 600px;


}

/* Give Donation */

.donate-heading {
    position: absolute;
    width: 304px;
    height: 54px;
    left: 500px;
    top: 799px;
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    text-align: center;
    color: black;
}

.donate-reason {
    position: absolute;
    width: 691px;
    height: 56px;
    left: 375px;
    top: 873px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.amount {
    padding: 50px;
    display: flex;
    margin-top: 300px;
    margin-left: 300px;

}

.amount-donate {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 110px;
    height: 100px;
    margin-left: 10px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    display: flex;


}

#select {
    border: 3px solid coral;
    background-color: rgb(231, 192, 185);
}



input {
    width: 300px;
    height: 30px;
    border: none;
}

.input-field {
    position: absolute;
    width: 192px;
    height: 28px;
    left: 500px;
    top: 1162px;
    text-align: center;
}

/* Donation Plan Section */
.donate {
    display: flex;
    margin-top: 30px;
}

.describe-plan {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 375px;
    margin-top: 150px;


}

.describe-plan p {
    font-size: 18px;

}

.plan-tittle {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.distribute-main {
    margin-top: 40px;
    display: flex;
}

.distribute-plan {
    width: 300px;
    height: 200px;
    margin-top: 400px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 15px gray;
    padding: 20px;
    margin-left: 70px;


}


#plan1 {
    background: rgba(119, 3, 3, 0.1);
}

#plan2 {
    background: rgba(235, 9, 9, 0.1);
}

.details {
    font-size: 15px;

}


/* Registration Section */

.reg-container {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);

}

.registration-main {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.submit_btn {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

.reg-header {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    padding: 20px;
    margin-top: 200px;
    color: #121212;

}



/* Update section */
.subscribe_parent {
    display: flex;
    justify-content: center;
    background-color: rgb(220, 187, 182);
    height: 200px;
    width: 60%;
    margin-left: 20%;
}

.email,
.subscribe_btn {
    margin-top: 90px;

}

.subscribe_btn {
    padding: 9px;
}

.update_paragraph {
    font-size: 18px;
    width: 60%;
    margin-left: 20%;
}


.updates_head {
    font-size: 25px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    font-size: 40px;
}


/* Footer section */
footer {
    background-color: black;
    height: 130px;
    text-align: center;
    margin-top: 90px;
}


small {
    font-size: 15px;
    color: rgb(126, 85, 10);
}

.footer-donate {
    color: crimson;
}

.footer-for {
    color: crimson;
}